.searchBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 30px;
}
.searchBox p {
  color: rgb(53, 50, 50);
  text-align: l;
}

.searchBox input {
  padding: 10px;
  width: 400px;
  text-align: justify;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}
