.searchBox {
  display: flex;
  padding: 10px;
}

.searchBox input {
  padding: 10px;
  width: 400px;
  text-align: justify;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}
