.navbar {
  justify-content: space-between;
  background-color: rgb(31, 29, 29);
  margin-bottom: 20px;
  padding: 50px;
}

.searchboxsummary {
  /* text-align: left; */
  color: white;
  font-family: "Hahmlet", serif;
  margin-top: 10px;
  margin-left: 100px;
}
